<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Tracker</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIifxUMaYa-NLQ2lYZcWKn4I2o5vVFK4s&callback=initMap" async defer></script>
</head>
<body>
  <div id="map"></div>
  <script src="/js/map.js"></script>
</body>
</html>
